<div class="section-contact-us text-center">
    <div class="container">
        <h2 class="title">Contáctame</h2>
        <!-- <p class="description">Your project is very important to us.</p> -->
        <div class="row">
            <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                <form (ngSubmit)="onSubmit(f)" #f="ngForm" ngNativeValidate *ngIf="!enviado">
                    <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                  <i class="now-ui-icons users_circle-08"></i>
                              </span>
                        </div>
                        <input required name="name" type="text" class="form-control" placeholder="Nombre" (focus)="focus=true" (blur)="focus=false" ngModel>
                    </div>
                    <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                    <i class="now-ui-icons ui-1_email-85"></i>
                              </span>
                        </div>
                        <input required name="email" type="email" class="form-control" placeholder="Correo" (focus)="focus1=true" (blur)="focus1=false" ngModel>
                    </div>
                    <div class="textarea-container">
                        <textarea required name="message" class="form-control" rows="4" cols="80" placeholder="Mensaje..." ngModel></textarea>
                    </div>
                    <div class="send-button">
                        <button type="submit" class="btn btn-primary btn-round btn-block btn-lg">
                            Enviar Mensaje
                        </button>
                    </div>
                </form>
                <div *ngIf="enviado">
                    <h3>Gracias por tu mensaje!</h3>
                </div>
            </div>
        </div>
    </div>
</div>