<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="dropdown button-dropdown">
            <div ngbDropdown>
                <a class="dropdown-toggle" ngbDropdownToggle>
                    <span class="button-bar"></span>
                    <span class="button-bar"></span>
                    <span class="button-bar"></span>
                </a>
                <div ngbDropdownMenu>
                    <a class="dropdown-header">Download CV</a>
                    <a class="dropdown-item" href="assets/pdf/V1-CV_ES.pdf" target="_blank">Español</a>
                    <a class="dropdown-item" href="assets/pdf/V1-CV_EN.pdf" target="_blank">English</a>
                </div>
            </div>
        </div>
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/index']" placement="bottom">
                Juan Navas
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="http://www.twitter.com/juannavasjn" target="_blank" data-original-title="Follow us on Twitter">
                        <i class="fa fa-twitter"></i>
                        <p class="d-lg-none d-xl-none">Twitter</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="http://www.facebook.com/juannavasjn" target="_blank" data-original-title="Like us on Facebook">
                        <i class="fa fa-facebook-square"></i>
                        <p class="d-lg-none d-xl-none">Facebook</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="http://www.instagram.com/juannavasjn" target="_blank" data-original-title="Follow us on Instagram">
                        <i class="fa fa-instagram"></i>
                        <p class="d-lg-none d-xl-none">Instagram</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.linkedin.com/in/juannavasjn/" target="_blank" data-original-title="Follow us on Instagram">
                        <i class="fa fa-linkedin"></i>
                        <p class="d-lg-none d-xl-none">Linkedin</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://github.com/JuanNavasJN" target="_blank" data-original-title="Follow us on Instagram">
                        <i class="fa fa-github"></i>
                        <p class="d-lg-none d-xl-none">GitHub</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>